USE [ai_coaching]
GO
/****** Object:  Table [dbo].[availability]    Script Date: 11/26/2025 10:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[availability](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[weekday] [tinyint] NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
 CONSTRAINT [PK_availability] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[diagnostic_results]    Script Date: 11/26/2025 10:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diagnostic_results](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[topic_id] [int] NOT NULL,
	[total_questions] [int] NOT NULL,
	[correct] [int] NOT NULL,
	[percent] [float] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_diagnostic_results] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[learning_path_items]    Script Date: 11/26/2025 10:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[learning_path_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[topic_id] [int] NOT NULL,
	[phase] [nvarchar](50) NOT NULL,
	[priority_rank] [int] NOT NULL,
 CONSTRAINT [PK_learning_path_items] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[learning_units]    Script Date: 11/26/2025 10:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[learning_units](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[topic_id] [int] NOT NULL,
	[type] [nvarchar](50) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[duration_min] [int] NOT NULL,
 CONSTRAINT [PK_learning_units] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[performances]    Script Date: 11/26/2025 10:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[performances](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[topic_id] [int] NOT NULL,
	[score_type] [nvarchar](50) NOT NULL,
	[score] [float] NOT NULL,
	[taken_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_performances] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[placement_test_results]    Script Date: 11/26/2025 10:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[placement_test_results](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[test_id] [varchar](255) NOT NULL,
	[total_questions] [int] NOT NULL,
	[correct_count] [int] NOT NULL,
	[score] [float] NOT NULL,
	[level] [varchar](50) NOT NULL,
	[level_name] [nvarchar](100) NOT NULL,
	[recommendation] [nvarchar](max) NULL,
	[chapter_performance] [nvarchar](max) NULL,
	[strengths] [nvarchar](max) NULL,
	[weaknesses] [nvarchar](max) NULL,
	[taken_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[progress]    Script Date: 11/26/2025 10:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[progress](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[topic_id] [int] NOT NULL,
	[completed_units] [int] NOT NULL,
	[total_units] [int] NOT NULL,
	[last_accessed] [datetime] NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[questions]    Script Date: 11/26/2025 10:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[questions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[topic_id] [int] NOT NULL,
	[text] [nvarchar](1000) NOT NULL,
	[options_json] [nvarchar](2000) NOT NULL,
	[correct_index] [int] NOT NULL,
	[difficulty] [int] NOT NULL,
 CONSTRAINT [PK_questions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[schedules]    Script Date: 11/26/2025 10:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[schedules](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[date] [date] NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[topic_id] [int] NULL,
	[learning_unit_id] [int] NULL,
	[status] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_schedules] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[session_logs]    Script Date: 11/26/2025 10:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[session_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[schedule_id] [int] NOT NULL,
	[completed] [bit] NOT NULL,
	[completed_at] [datetime2](7) NULL,
	[duration_min] [int] NULL,
	[notes] [nvarchar](1000) NULL,
 CONSTRAINT [PK_session_logs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[students]    Script Date: 11/26/2025 10:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[school] [nvarchar](255) NULL,
	[grade] [nvarchar](50) NULL,
	[goal_score] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_students] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[topics]    Script Date: 11/26/2025 10:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[topics](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[difficulty] [tinyint] NOT NULL,
	[is_core] [bit] NOT NULL,
	[order_index] [int] NOT NULL,
 CONSTRAINT [PK_topics] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[availability] ON 

INSERT [dbo].[availability] ([id], [student_id], [weekday], [start_time], [end_time]) VALUES (12, 8, 0, CAST(N'09:00:00' AS Time), CAST(N'12:00:00' AS Time))
INSERT [dbo].[availability] ([id], [student_id], [weekday], [start_time], [end_time]) VALUES (6, 8, 1, CAST(N'19:00:00' AS Time), CAST(N'21:00:00' AS Time))
INSERT [dbo].[availability] ([id], [student_id], [weekday], [start_time], [end_time]) VALUES (7, 8, 2, CAST(N'19:00:00' AS Time), CAST(N'21:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[availability] OFF
GO
SET IDENTITY_INSERT [dbo].[diagnostic_results] ON 

INSERT [dbo].[diagnostic_results] ([id], [student_id], [topic_id], [total_questions], [correct], [percent], [created_at]) VALUES (41, 8, 1, 10, 6, 60, CAST(N'2025-11-16T07:04:15.8437750' AS DateTime2))
INSERT [dbo].[diagnostic_results] ([id], [student_id], [topic_id], [total_questions], [correct], [percent], [created_at]) VALUES (42, 8, 2, 10, 6, 60, CAST(N'2025-11-16T07:04:15.8437750' AS DateTime2))
INSERT [dbo].[diagnostic_results] ([id], [student_id], [topic_id], [total_questions], [correct], [percent], [created_at]) VALUES (43, 8, 3, 10, 5, 50, CAST(N'2025-11-16T07:04:15.8437750' AS DateTime2))
SET IDENTITY_INSERT [dbo].[diagnostic_results] OFF
GO
SET IDENTITY_INSERT [dbo].[learning_path_items] ON 

INSERT [dbo].[learning_path_items] ([id], [student_id], [topic_id], [phase], [priority_rank]) VALUES (84, 8, 5, N'foundation', 1)
INSERT [dbo].[learning_path_items] ([id], [student_id], [topic_id], [phase], [priority_rank]) VALUES (85, 8, 4, N'foundation', 2)
INSERT [dbo].[learning_path_items] ([id], [student_id], [topic_id], [phase], [priority_rank]) VALUES (86, 8, 3, N'focus', 3)
SET IDENTITY_INSERT [dbo].[learning_path_items] OFF
GO
SET IDENTITY_INSERT [dbo].[learning_units] ON 

INSERT [dbo].[learning_units] ([id], [topic_id], [type], [title], [duration_min]) VALUES (19, 9, N'theory', N'Mệnh đề – Tập hợp - Lý thuyết 1', 45)
INSERT [dbo].[learning_units] ([id], [topic_id], [type], [title], [duration_min]) VALUES (20, 9, N'example', N'Mệnh đề – Tập hợp - Ví dụ mẫu', 30)
INSERT [dbo].[learning_units] ([id], [topic_id], [type], [title], [duration_min]) VALUES (21, 9, N'exercise', N'Mệnh đề – Tập hợp - Bài tập mức 1', 45)
SET IDENTITY_INSERT [dbo].[learning_units] OFF
GO
SET IDENTITY_INSERT [dbo].[placement_test_results] ON 

SET IDENTITY_INSERT [dbo].[placement_test_results] OFF
GO
SET IDENTITY_INSERT [dbo].[questions] ON 

INSERT [dbo].[questions] ([id], [topic_id], [text], [options_json], [correct_index], [difficulty]) VALUES (13, 9, N'Mệnh đề – Tập hợp: Câu hỏi 1 (cơ bản)', N'["A", "B", "C", "D"]', 1, 2)
INSERT [dbo].[questions] ([id], [topic_id], [text], [options_json], [correct_index], [difficulty]) VALUES (14, 9, N'Mệnh đề – Tập hợp: Câu hỏi 2 (trung bình)', N'["A", "B", "C", "D"]', 2, 3)
INSERT [dbo].[questions] ([id], [topic_id], [text], [options_json], [correct_index], [difficulty]) VALUES (15, 10, N'Hàm số – Đồ thị: Câu hỏi 1 (cơ bản)', N'["A", "B", "C", "D"]', 1, 2)
SET IDENTITY_INSERT [dbo].[questions] OFF
GO
SET IDENTITY_INSERT [dbo].[students] ON 

INSERT [dbo].[students] ([id], [email], [password_hash], [full_name], [school], [grade], [goal_score], [created_at]) VALUES (3, N'demo@aicoach.com', N'$2b$12$auAzi2vYKG02bmBAfQF0hujJ0da.YH/tMWYUtYOcnzfEbgNmwQ4q6', N'agad', NULL, NULL, NULL, CAST(N'2025-11-15T14:50:27.2901740' AS DateTime2))
INSERT [dbo].[students] ([id], [email], [password_hash], [full_name], [school], [grade], [goal_score], [created_at]) VALUES (4, N'giangvt@gmail.com', N'$2b$12$Yde3KupbyVZKvSJtLl6qX.d7V4NM0.0mtYDGfLYnM87Ya10PdkqHe', N'Vu Truong Giang', NULL, NULL, NULL, CAST(N'2025-11-16T03:42:33.5707940' AS DateTime2))
INSERT [dbo].[students] ([id], [email], [password_hash], [full_name], [school], [grade], [goal_score], [created_at]) VALUES (5, N'user@example.com', N'$2b$12$kqL6kDhGJhszbtgD5ABAseLIAAD1iM0C5vBzyPQMpjPzowytiZPW2', N'gagaga', NULL, NULL, NULL, CAST(N'2025-11-16T03:55:42.2345860' AS DateTime2))
SET IDENTITY_INSERT [dbo].[students] OFF
GO
SET IDENTITY_INSERT [dbo].[topics] ON 

INSERT [dbo].[topics] ([id], [name], [difficulty], [is_core], [order_index]) VALUES (9, N'Mệnh đề – Tập hợp', 3, 1, 1)
INSERT [dbo].[topics] ([id], [name], [difficulty], [is_core], [order_index]) VALUES (10, N'Hàm số – Đồ thị', 4, 1, 2)
INSERT [dbo].[topics] ([id], [name], [difficulty], [is_core], [order_index]) VALUES (11, N'Hệ bất phương trình', 4, 1, 3)
SET IDENTITY_INSERT [dbo].[topics] OFF
GO
/****** Object:  Index [UQ_availability_slot]    Script Date: 11/26/2025 10:14:50 PM ******/
ALTER TABLE [dbo].[availability] ADD  CONSTRAINT [UQ_availability_slot] UNIQUE NONCLUSTERED 
(
	[student_id] ASC,
	[weekday] ASC,
	[start_time] ASC,
	[end_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_diag_once_per_topic]    Script Date: 11/26/2025 10:14:50 PM ******/
ALTER TABLE [dbo].[diagnostic_results] ADD  CONSTRAINT [UQ_diag_once_per_topic] UNIQUE NONCLUSTERED 
(
	[student_id] ASC,
	[topic_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__placemen__F3FF1C039D49CDB7]    Script Date: 11/26/2025 10:14:50 PM ******/
ALTER TABLE [dbo].[placement_test_results] ADD UNIQUE NONCLUSTERED 
(
	[test_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_students_email]    Script Date: 11/26/2025 10:14:50 PM ******/
ALTER TABLE [dbo].[students] ADD  CONSTRAINT [UQ_students_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_topics_name]    Script Date: 11/26/2025 10:14:50 PM ******/
ALTER TABLE [dbo].[topics] ADD  CONSTRAINT [UQ_topics_name] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[diagnostic_results] ADD  CONSTRAINT [DF_diag_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[learning_path_items] ADD  CONSTRAINT [DF_lpi_priority]  DEFAULT ((0)) FOR [priority_rank]
GO
ALTER TABLE [dbo].[learning_units] ADD  CONSTRAINT [DF_units_type]  DEFAULT (N'theory') FOR [type]
GO
ALTER TABLE [dbo].[learning_units] ADD  CONSTRAINT [DF_units_duration]  DEFAULT ((60)) FOR [duration_min]
GO
ALTER TABLE [dbo].[performances] ADD  CONSTRAINT [DF_perf_type]  DEFAULT (N'quiz') FOR [score_type]
GO
ALTER TABLE [dbo].[performances] ADD  CONSTRAINT [DF_perf_score]  DEFAULT ((0)) FOR [score]
GO
ALTER TABLE [dbo].[performances] ADD  CONSTRAINT [DF_perf_taken]  DEFAULT (sysutcdatetime()) FOR [taken_at]
GO
ALTER TABLE [dbo].[placement_test_results] ADD  DEFAULT (getdate()) FOR [taken_at]
GO
ALTER TABLE [dbo].[progress] ADD  DEFAULT ((0)) FOR [completed_units]
GO
ALTER TABLE [dbo].[progress] ADD  DEFAULT ((0)) FOR [total_units]
GO
ALTER TABLE [dbo].[progress] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[questions] ADD  CONSTRAINT [DF_q_correct]  DEFAULT ((0)) FOR [correct_index]
GO
ALTER TABLE [dbo].[questions] ADD  CONSTRAINT [DF_q_diff]  DEFAULT ((3)) FOR [difficulty]
GO
ALTER TABLE [dbo].[schedules] ADD  CONSTRAINT [DF_schedules_status]  DEFAULT (N'planned') FOR [status]
GO
ALTER TABLE [dbo].[session_logs] ADD  CONSTRAINT [DF_slog_completed]  DEFAULT ((0)) FOR [completed]
GO
ALTER TABLE [dbo].[students] ADD  CONSTRAINT [DF_students_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[topics] ADD  CONSTRAINT [DF_topics_difficulty]  DEFAULT ((3)) FOR [difficulty]
GO
ALTER TABLE [dbo].[topics] ADD  CONSTRAINT [DF_topics_is_core]  DEFAULT ((1)) FOR [is_core]
GO
ALTER TABLE [dbo].[topics] ADD  CONSTRAINT [DF_topics_order_index]  DEFAULT ((0)) FOR [order_index]
GO
ALTER TABLE [dbo].[availability]  WITH CHECK ADD  CONSTRAINT [FK_avail_student] FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[availability] CHECK CONSTRAINT [FK_avail_student]
GO
ALTER TABLE [dbo].[diagnostic_results]  WITH CHECK ADD  CONSTRAINT [FK_diag_student] FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[diagnostic_results] CHECK CONSTRAINT [FK_diag_student]
GO
ALTER TABLE [dbo].[learning_path_items]  WITH CHECK ADD  CONSTRAINT [FK_lpi_student] FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[learning_path_items] CHECK CONSTRAINT [FK_lpi_student]
GO
ALTER TABLE [dbo].[performances]  WITH CHECK ADD  CONSTRAINT [FK_perf_student] FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[performances] CHECK CONSTRAINT [FK_perf_student]
GO
ALTER TABLE [dbo].[placement_test_results]  WITH CHECK ADD  CONSTRAINT [FK_placement_test_student] FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[placement_test_results] CHECK CONSTRAINT [FK_placement_test_student]
GO
ALTER TABLE [dbo].[progress]  WITH CHECK ADD  CONSTRAINT [FK_progress_student] FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[progress] CHECK CONSTRAINT [FK_progress_student]
GO
ALTER TABLE [dbo].[schedules]  WITH CHECK ADD  CONSTRAINT [FK_sched_learning_unit] FOREIGN KEY([learning_unit_id])
REFERENCES [dbo].[learning_units] ([id])
GO
ALTER TABLE [dbo].[schedules] CHECK CONSTRAINT [FK_sched_learning_unit]
GO
ALTER TABLE [dbo].[schedules]  WITH CHECK ADD  CONSTRAINT [FK_sched_student] FOREIGN KEY([student_id])
REFERENCES [dbo].[students] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[schedules] CHECK CONSTRAINT [FK_sched_student]
GO
ALTER TABLE [dbo].[session_logs]  WITH CHECK ADD  CONSTRAINT [FK_slog_schedule] FOREIGN KEY([schedule_id])
REFERENCES [dbo].[schedules] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[session_logs] CHECK CONSTRAINT [FK_slog_schedule]
GO
ALTER TABLE [dbo].[diagnostic_results]  WITH CHECK ADD  CONSTRAINT [CK_diagnostic_chapter_id] CHECK  (([topic_id]>=(1) AND [topic_id]<=(5)))
GO
ALTER TABLE [dbo].[diagnostic_results] CHECK CONSTRAINT [CK_diagnostic_chapter_id]
GO
ALTER TABLE [dbo].[learning_path_items]  WITH CHECK ADD  CONSTRAINT [CK_learning_path_chapter_id] CHECK  (([topic_id]>=(1) AND [topic_id]<=(5)))
GO
ALTER TABLE [dbo].[learning_path_items] CHECK CONSTRAINT [CK_learning_path_chapter_id]
GO
